# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment 
myenv/
.venv/
env/
venv/
.env/

# Ignore large model files 
*.tflite



# Ignore training datasets 
asl_alphabet_train/asl_alphabet_train
asl_dataset/
*.zip

# Ignore logs and temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor configs
.vscode/
.idea/

# Ignore Streamlit cache
.streamlit/


